<h1>Listing Articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>
 
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.title %></td>
      <td><%= project.description %></td>
      <td><%= link_to 'Show', project_path(project) %></td>
    </tr>
  <% end %>
</table>